---
import DashboardCmp from "../components/Dashboard.jsx";
---

<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <DashboardCmp client:only="react" />
    </body>
</html>
