---
import ProjectManagement from "../components/ProjectManagement.jsx";
---

<html>
    <head>
        <title>Project Management</title>
    </head>
    <body>
        <ProjectManagement client:only="react" />
    </body>
</html>
