---
import RegisterCmp from "../components/Register.jsx";
---

<html lang="en">
    <head>
        <title>Register</title>
    </head>
    <body>
        <RegisterCmp client:only="react" />
    </body>
</html>
