---
import UserManagement from "../components/UserManagement.jsx";
---

<html>
    <head>
        <title>User Management</title>
    </head>
    <body>
        <UserManagement client:only="react" />
    </body>
</html>
