---
import Header from '../components/Header';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title} | Project Management</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="min-h-screen flex flex-col">
        <Header client:only="react" />

        <main class="flex-1">
            <slot />
        </main>
        <footer class="bg-[#213555] text-[#F5EFE7] p-4 w-full">
            <h2 class="text-left px-4">Huỳnh Bảo Hân - 106210046 - 21KTMT</h2>
            <br />
            <h2 class="text-left px-4">Đoàn Đình Cao - 106210229 - 21KTMT2</h2>
            <p class="m-0 text-base text-center">
                &copy; {new Date().getFullYear()} Da Nang University of Science and
                Technology.
            </p>
        </footer>
    </body>
</html>
